// Custom styles.

html {
    position: relative;
    height: 100%;
}

.headband{
    background: #293846;
}

.custom-logo-site-title .brand {
    background: #293846;
}

.site-nav .menu-item-icon{
    color: #293846;
}

.sidebar{
    background: #252a3a;
}

.back-to-top{
    background: #252a3a;
}

.sidebar-toggle{
    background: #252a3a;
}
